@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-size: 16px;
    font-family: "Epilogue", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: hsl(0, 0%, 98%);
}

p{
    font-size: 18px;
    color: hsl(0, 0%, 41%);
}

a{
    text-decoration: none;
    cursor: pointer;
    color: hsl(0, 0%, 41%);
}

li{
    list-style-type: none;
    cursor: pointer;
}

img{
    max-width: 100%;
}

.nav-list-desktop, .nav-list-mobile{
    display: none;
}

.nav-list-mobile{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 70%;
    padding: 2rem;
    z-index: 999;
    background: white;
}

.nav-list-mobile li{
    color: hsl(0, 0%, 41%);
}

.nav-list-mobile li{
    padding: 0.2rem 0;
}

.register-mobile{
    text-align: center;
    padding: 1rem 0;
}

.register-mobile li:nth-child(2){
    border: 1.5px solid hsla(0, 0%, 8%, 0.701);
    border-radius: 5px;
    padding: 0.3rem 0;
    margin-bottom: 20px;
}

.main-links-mobile{
    margin-top: 20px;
}

.close-btn{
    padding: 1rem;
    position: absolute;
    top: 0;
    right: 0;
}

.h__{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem;
}

main{
    text-align: center;
}

.content{
    margin: 20px 0;
}

.content h1{
    color: hsl(0, 0%, 8%);
    padding: 0.5rem 0;
    font-weight: 700;
}

.content p{
    width: 300px;
    margin: 0 auto;
    padding: 1rem 0;
}

.content .btn{
    border: none;
    border-radius: 8px;
    padding: .8rem 1.2rem;
    color: hsl(0, 0%, 100%);
    font-weight: 900;
    background-color: hsla(0, 0%, 0%, 0.906);
    letter-spacing: -1px;
    margin: 10px 0;
}


.sponsors img{
    width: 60px;
}

.sponsors{
    padding: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 50px;
}

.subs li{
    padding: 0.4rem 0;
}

.sub-feat li img{
    width: 12px;
    margin-right: 10px;
}

.subs{
    display: none;
    margin: 8px 0 8px 8px;
}

.active-nav-menu {
    display: block;
}


/*
.nav-list-items-desktop{
    display: none;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.3rem;
    position: relative;
}

.nav-list-items-mobile{
    display: none;
    position: relative; 
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 65%;
    padding: 2rem 2rem 0 2rem;
    z-index: 999;
    background: white;
}

.close-btn{
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
}

.register li{
    text-align: center;
    padding: 1rem 0;
}

.register ul>li:nth-child(2){
    border: 1.5px solid hsl(0, 0%, 41%);
    padding: .4rem .8rem;
    border-radius: 5px;
}

.__hra{
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-bottom: 10px;
    color: hsl(0, 0%, 41%);
}

.__hra img{
    width: 12.5px;
}

ul>li{
    padding: .3rem 0;
    color: hsl(0, 0%, 41%);
}




.sub-feat >li, .sub-comp>li{
    padding: .3rem 0;
}


section .outro{
    text-align: center;
    margin: 20px 0;
}

section .outro p{
    width: 300px;
    margin: 0 auto;
    padding: 20px 0;
}

.learn-more {
    display: block;
    text-align: center;
}

.learn-more a {
    display: inline-block;
    background-color: hsl(0, 0%, 8%);
    font-weight: 800;
    padding: 1rem 1.5rem;
    color: hsl(0, 0%, 98%);
    border-radius: 15px;
    margin-bottom: 20px;
}

.sponsors img{
    width: 50px;
}

.sponsors{
    padding: 1.2rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.feat ul{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: .8rem;
    padding: 1rem;
    color: hsl(0, 0%, 41%);
}

.icon{
    display: flex;
    align-items: center;
}

.active-nav-menu {
    display: block;
}   


.arrow-up{
    display: none;
}

.arrow-down{
    display: block;
}

.arrow-toggle{
    display: block;
}

@media screen and (min-width: 768px) {
    h1{
        margin-top: 70px;
        font-weight: 900;
        font-size: 3rem;
        text-align: left;
    }

    span{
        display: block;
        text-align: left;
    }

    .outro p{
        text-align: left;
        min-width: 450px;
    }

    .main-content{
        max-width: 75%;
        margin: 0 auto;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    picture img{
        width: 350px;
    }

    .learn-more{
        text-align: left;
    }

    .sponsors img{
        width: 80px;
    }

    .learn-more a{
        background-color: hsl(0, 0%, 98%);
        color: hsl(0, 0%, 0%);
        border: .8px solid hsl(0, 0%, 0%);
    }

    .nav-list-items-mobile{
        display: none;
    }

   .nav-list-desktop{
    display: flex;
    justify-content: space-between;
    align-items: center;
   }

   .nav-list-desktop img{
    margin-right: 20px;
   }

    .mobile-btn{
        display: none;
    }
} */