@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Epilogue", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: hsl(0, 0%, 98%);
}

p{
    font-size: 18px;
    color: hsl(0, 0%, 41%);
}

a{
    text-decoration: none;
    cursor: pointer;
    color: hsl(0, 0%, 41%);
}

li{
    list-style-type: none;
}

img{
    max-width: 100%;
}

.nav-list-items-desktop{
    display: none;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.3rem;
    position: relative;
}

.nav-list-items-mobile{
    display: none;
    position: relative;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 65%;
    padding: 2rem 2rem 0 2rem;
    z-index: 999;
    background: white;
}

.close-btn{
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
}

.register li{
    text-align: center;
    padding: 1rem 0;
}

.register ul>li:nth-child(2){
    border: 1.5px solid hsl(0, 0%, 41%);
    padding: .4rem .8rem;
    border-radius: 5px;
}

ul>li{
    padding: .3rem 0;
    color: hsl(0, 0%, 41%);
}


.sub-feat, .sub-comp{
    margin-left: 10px;
    padding: .5rem 0;
    display: none;
}

.sub-feat >li, .sub-comp>li{
    padding: .3rem 0;
}


section .outro{
    text-align: center;
    margin: 20px 0;
}

section .outro p{
    width: 300px;
    margin: 0 auto;
    padding: 20px 0;
}

.learn-more {
    display: block;
    text-align: center;
}

.learn-more a {
    display: inline-block;
    background-color: hsl(0, 0%, 8%);
    font-weight: 800;
    padding: 1rem 1.5rem;
    color: hsl(0, 0%, 98%);
    border-radius: 15px;
    margin-bottom: 20px;
}

.sponsors img{
    width: 50px;
}

.sponsors{
    padding: 1.2rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}


.feat ul{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: .8rem;
    padding: 1rem;
    color: hsl(0, 0%, 41%);
}


.icon{
    display: flex;
    align-items: center;
}

.active-nav-menu {
    display: block;
    }   